*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.heading{
    margin-top: 30px;
    text-align: center;
    text-decoration: underline;
    color: rgba(21, 21, 150, 0.767);
    padding-bottom: 20px;
}
p{
    border-bottom: 2px solid black;
}
img{
   
    border-radius: 5px;
}

